# Nest Bazel symlinks under _/bazel.
build --symlink_prefix=_bazel/

# Testing default: show errors
test --test_output=errors

# Testing debug: stream tests
test:debug --test_output=streamed
test:debug --test_strategy=exclusive
test:debug --test_timeout=9999
test:debug --nocache_test_results

# Don't genereate __init__.py files by default.
build --incompatible_default_to_explicit_init_py

# Enforce stricter environment rules to increase hit rates
build --incompatible_strict_action_env=true

# Enable change detection to avoid poising the cache
build --experimental_guard_against_concurrent_changes=true

# Attempt to load user config
try-import %workspace%/user.bazelrc
