# labtools
absl-py==0.10.0
toolz==0.11.1

# pytype
pytype==2021.05.25

# formatting
yapf==0.31.0

# jupyter notebooks
jupyter_contrib_nbextensions==0.5.1
jupyterlab==3.0.14
ipywidgets>=7.6

# Templates
Jinja2
j2cli
